<h1>Get things done!</h1>
<h2>Enter an item to add to the list</h2>
<form action="/items" method="post">
  <label for="item">
    Item
    <input type="text" name="item" placeholder="item">
  </label>
  <input type="submit" value="Submit">
</form>
